{
  "presets": ["react", "latest"],
  "plugins": ["transform-runtime", "transform-decorators-legacy", "transform-class-properties"],
  "env": {
    "production": {
      "presets": ["react", "react-optimize", "latest"]
    },
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
